body {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

div {
  width: 510px;
  height: 510px;
  margin: 0 auto;
  border: 3px solid black;
}

li {
  width: 15px;
  height: 15px;
  border: 1px solid #eee;
  float: left;
  background-color: #fff;
}

h1 {
  margin: 20px 0px;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}
